#head
{
 background-color: #eeeeee;
 border-bottom: 1px solid #000000;
 padding: 3px;
 position:fixed; top:0px; left: 0px; width:100%;
}

#body
{
 background-color: #ffffff;
 padding-bottom: 27px;
 position:absolute; top:80px; left: 5%; width:90%;
}

#foot
{
 background-color: #eeeeee;
 border-top: 1px solid #000000;
 padding: 3px;
 position:fixed; bottom:0px; left: 0px; width:100%;
}

#head .icon
{
 min-height: 64px;
 display: block;
 background: url(blam.png) no-repeat;
}

#head .title
{
 font-size: x-large;
 position:absolute; top: 25%;
 padding-left: 74px;
}

#head .date
{
 position:absolute; right: 5%; top: 25%;
}

#foot .link
{
 padding-left: 10px;
}

#foot .author
{
 position:absolute; right: 5%;
}